# Análisis de datos cualitativos

## Introducción a Python

### Variables y operaciones básicas

In [3]:
var = "Bienvenidos al curso de analisis de datos cualitativos"

var1 = 12
var2 = 23

var1 + var2
var1 - var2

-11

### Estructuras de datos

In [23]:
# Listas
lista = [1, 2, 3, 4, 5]

# Diccionarios
data = {
    "a": 1,
    "b": 2,
    "c": 3
}
data.get("d", 0)

# Sets (conjuntos)
set1 = set([1, 2, 1, 3])
set2 = set([3, 4, 5, 6])
set3 = set2 - set1
set3

# Tuplas
tupla = (1, 2, 3)
tupla

d1 = {
    tupla: "mi primer tupla"
}

### Loops y condicionales

In [32]:
for a in data:
  value = data[a]
  print(f"El valor {value} esta asociado a la clave {a}")

El valor 1 esta asociado a la clave a
El valor 2 esta asociado a la clave b
El valor 3 esta asociado a la clave c

In [34]:
for key, value in data.items():
  print(f"El valor {value} está asociado a la clave {key}")

El valor 1 está asociado a la clave a
El valor 2 está asociado a la clave b
El valor 3 está asociado a la clave c

In [35]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [38]:
var1 = 10
if var1 > 10:
  print("La variable es mayor a 10")
else:
  print("La variable es menor o igual a 10")

La variable es menor o igual a 10

### Funciones y funciones anónimas

In [40]:
var1 = 5

def elevar_al_cuadrado(n):
  return n**2

elevar_al_cuadrado(var1)

25

In [43]:
fn = lambda n: n**2
fn(2)

4

### Classes y objetos

In [47]:
class Persona:
  def __init__(self, altura, peso, nombre):
    self.altura = altura
    self.peso = peso
    self.nombre = nombre
  def presentarse(self):
    print(f"Hola, mi nombre es {self.nombre}")

p1 = Persona(180, 75, "Juan")
p2 = Persona(190, 85, "Pedro")

p1.presentarse()
p2.presentarse()

Hola, mi nombre es Juan
Hola, mi nombre es Pedro

## Ejercicios de practica de python

1. Imprimir la suma del número actual y el anterior en una lista

In [ ]:
l = [1, 2, 3, 4]

def ej1(n, lista):
  v = lista.index(n)
  if v:
    print("No hay un numero anterior")
    return None
  else:
    suma = n + lista[v-1]
    return suma

In [49]:
def ej1v2(lista):
  resultado = []
  for n in lista:
    if n == 0:
      resultado.append(lista[n])
    else:
      resultado.append(lista[n] + lista[n-1])
  return resultado

ej1v2([1, 2, 3, 4])

[1, 3, 5, 7]

In [53]:
lista = [7,9,5,3]

def ej1v2(lista):
  numero_anterior = 0
  resultado = []
  for n in lista:
    suma = n + numero_anterior
    numero_anterior = n
    resultado.append(suma)
  return resultado

ej1v2([1,2,3,4])

[1, 3, 5, 7]

Eliminar los primeros n caracteres de un string

In [55]:
s = "Este es un string"

" es un string"

def remover_n_caracteres(s, n):
  return s[n:]

remover_n_caracteres(s, 4)

' es un string'

Contar la cantidad de veces que aparece cada elemento en una lista

In [65]:
lista = [1, 2, 3, 1, 1, 2]


lista.count(1)

def contar_elementos(lista):
  for i in lista:
    v = lista.count(i)
    print(f"El elemento {i} aparece {v} veces")

# contar_elementos(lista)

def contar_elementos_v2(lista):
  resultado = {}
  for n in set(lista):
    resultado[n] = lista.count(n)
  return resultado

# contar_elementos_v2(lista)

def contar_elementos_v3(lista):
  resultado = {}
  for n in lista:
    if n not in resultado:
      resultado[n] = 1
    else:
      resultado[n] += 1
  return resultado

contar_elementos_v3(lista)

{1: 3, 2: 2, 3: 1}

Imprimir los números de una lista que son divisibles por cinco

In [73]:
lista = [1, 5, 20, 54]

def imprimir_divisible_por_cinco(lista):
  resultado = []
  for i in lista:
    if i % 5 == 0:
      resultado.append(i)
  return resultado

def imprimir_divisible_por_cinco_v2(lista):
  resultado = [i for i in lista if i % 5 == 0]
  return resultado

def imprimir_divisible_por_n(lista, n):
  resultado = [i for i in lista if i % n == 0]
  return resultado

imprimir_divisible_por_n(lista, 9)

[54]

Imprimir el patrón, hasta una altura arbitraria:

In [80]:
# imprimir_triangulo(3)

#  *
# * *
#* * *

def imprimir_triangulo(n):
  '''imprime un arbolito simetrico con n numeros de columna'''
  for x in range(1, n + 1):
    espacios = n - x
    palabra = ' ' * int(espacios) + '* ' * x
    print(palabra)

imprimir_triangulo(7)

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

Separar numeros pares e impares de un lista

In [83]:
lista = [3, 4, 8 , 12, 55]

([3, 55], [4, 8, 12])

def separar(lista):
  lista_pares = []
  lista_impares = []
  for n in lista:
    if n % 2 == 0:
      lista_pares.append(n)
    else:
      lista_impares.append(n)
  return lista_impares, lista_pares

def separar_v2(lista):
  lista_pares = [x for x in lista if x % 2 == 0]
  lista_impares = [x for x in lista if x % 2 != 0]
  return lista_impares, lista_pares

separar_v2(lista)

([3, 55], [4, 8, 12])

Calcular el impuesto de un ingreso según estas reglas:

    Primeros 100000 pesos -> 0 por ciento
    100000 pesos a 200000 pesos -> 5 por ciento
    200000 pesos a 250000 pesos -> 10 por ciento
    El resto -> 25 por ciento

150000
 - 0 > 100000
 - 0.05 * 50000

 220000
 - 0 > 100000
 - 0.05 * 100000
 - 0.1 * 20000

In [89]:
ingreso = 100000

def calcular_impuesto(ingreso):
  if ingreso <= 100000:
    return 0
  elif ingreso > 100000 and ingreso <= 200000:
    return 0.05 * ingreso
  elif ingreso > 200000 and ingreso <= 250000:
    return 0.1 * ingreso
  else:
    return 0.25 * ingreso

calcular_impuesto(ingreso)

def calcular_impuesto_v2(ingreso):
  if ingreso <= 100000:
    return 0
  elif ingreso > 100000 and ingreso <= 200000:
    return 0.05 * (ingreso-100000)
  elif ingreso > 200000 and ingreso <= 250000:
    return 0.05 * 100000 + 0.1 * (ingreso - 200000)
  else:
    return 0.05 * 100000 + 0.1 * 50000 + 0.25 * (ingreso - 250000)

calcular_impuesto_v2(350000)

35000.0

Dada una frase y posibles anagramas, elegir los correctos.

In [102]:
frase =  "Istmo de Panama"
posibles_anagramas = ["Tio Sam me da pan", "Tio Sam me da queso", "Tio Samm da pena"]

#seleccionar_anagramas(frase, posibles_anagramas)

["Tio Sam me da pan", "Tio Samm da pena"]

def contar_letras(frase):
  resultado = {}
  frase = frase.lower()
  for n in set(frase):
    if n != " ":
      resultado[n] = frase.count(n)
  return resultado

def seleccionar_anagramas(frase, anagramas):
  letras_frase = contar_letras(frase)
  resultado = []
  for a in anagramas:
    letras_en_anagrama = contar_letras(a)
    if letras_frase == letras_en_anagrama:
      resultado.append(a)
  return resultado
  
seleccionar_anagramas(frase, posibles_anagramas)

['Tio Sam me da pan', 'Tio Samm da pena']

In [101]:
{"a":1, "b":2} == {"b":2, "a":1}

False

1. Imprimir la suma del número actual y el anterior en una lista


2. Eliminar los primeros n caracteres de un string
3. Contar la cantidad de veces que aparece cada elemento en una lista
4. Imprimir los números de una lista que son divisibles por cinco
5. Imprimir el patrón, hasta una altura arbitraria:
```
       *
      * *
     * * *
    * * * *
```
6. Separar numeros pares e impares de un lista
7. Calcular el impuesto de un ingreso según estas reglas:
  1. Primeros 100000 pesos -> 0 por ciento
  2. 100000 pesos a 200000 pesos -> 5 por ciento
  3. 200000 pesos a 250000 pesos -> 10 por ciento
  4. El resto -> 25 por ciento

8. Dada una frase y posibles anagramas, elegir los correctos.

## Introducción a Numpy

- Computación numérica
- Centrada en Arrays multidimensionales
- Referencia de la API:
  - https://numpy.org/doc/stable/reference/index.html

### Crear Arrays

- np.array
- np.zeros
- np.ones
- np.empty
- np.arange
- np.linspace
- np.identity

### Cambiar forma de un array

- reshape
- transpose

### Funciones universales

- Funciones que se aplican a Arrays de cualquier dimension
- por elemento

Por ejemplo:

- numpy.add
- numpy.matmul
- numpy.equal
- numpy.logical_and

## Introducción a Pandas

Permite trabajar con:
- Series de datos (Series)
- Datos tabulares (Dataframe)

Referencia:
- https://pandas.pydata.org/docs/reference/index.html
- Cheat Sheet : https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf

### Crear Series y DataFrame

- Dataframe
  - desde dicctionario
  - desde listas
  - desde un archivo
- Series
  - Desde una lista

### Cambiar la forma de un Dataframe

- shape
- melt
- pivot
- concat

### Subsetting

- Seleccionar filas
- Seleccionar columas
- Seleccionar filas y columnas

### Combinar Dataframes
- merge

### Resumen de datos

- value_counts
- describe

### Agrupar datos

- groupby
- aggregate

## Introducción a Matplotlib

- Creación de gráficos
- Referencia
  - https://matplotlib.org/stable/api/index.html
- Ejemplos:
  - https://matplotlib.org/stable/gallery/index.html

### Crear plots y axes

### Cambiar texto de un plot

### Anotar un plot

## Introducción a Scipy

- Computación científica en python.
  - Estadística
  - Métodos de optimization
  - Resolución de ecuaciones diferenciales
  - etc.
- Referencia:
  - https://docs.scipy.org/doc/scipy/reference/stats.html

- Distribuciones de probabilidad
    - continuas
    - multivariadas
    - discretas
- Estadísticos de resumen
- Correlación
- Test estadísticos
- Ajuste de datos a una distribución

## Introducción a SymPy

- Computación simbólica
- Referencia:
  - https://www.sympy.org/en/index.html

### Cálculo de derivadas

### Cálculo de integrales

### Resolución de ecuaciones

##